---
- name: Base setup for MERN server
  hosts: mern
  become: yes
  roles:
    - common
    - nodejs
    - backend
    - frontend
    - pm2
    - s3_deploy
    - node_exporter
    - pm2_exporter
    - prometheus
    - grafana
    - alertmanager



